@font-face {
  font-family: 'Boxing-Regular';
  src: url('../../public/fonts/Boxing-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'Excon-Medium';
  src: url('../../public/fonts/Excon-Medium.otf') format('opentype');
}

@font-face {
  font-family: 'Excon-Bold';
  src: url('../../public/fonts/Excon-Bold.otf') format('opentype');
}

@font-face {
  font-family: 'Excon-Regular';
  src: url('../../public/fonts/Excon-Regular.otf') format('opentype');
}