.search-form {
  display: flex;
  align-items: center;
}

.search-input-container {
  display: flex;
  align-items: center;
  position: relative;

  input[type="text"] {
    height: 30px;
    width: 180px;
    padding: 5px 10px 5px 38px;
    border: 1px solid #cccccc;
    border-radius: 6px;
    &::placeholder {
      color: #cccccc;
    }
    &:focus {
      border: 1px solid #bbbbbb;
      outline: none;
    }
  }

  button {
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    top: -1px;
    left: -10px;
  }
}
